<% include ../partials/header %>
<% include ../partials/navigation %>

<!-- Path widget at top of page-->
<div id="path" class="container">
  <div class="path">
  <a href="/">Home</a>  / <a href="/loot">Loot</a> / <a href="/loot/materials">Materials</a> / <a id="path-active" href="/loot/materials/material-edits">material-edits</a>
  </div>
</div>

<div id="accordion" class="container">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Floor Edits - Click to Expand
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Edit</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < material_edits.length; i ++) { %>
              <% if (material_edits[i].type === "floor") { %>
                <tr class='clickable-row'>
                  <th scope="row"><img src="<%= material_edits[i].image %>" class="img-fluid" alt="<%= material_edits[i].name %>"></th>
                  <td><%= material_edits[i].name %></td>
                </tr>     
              <% } %>
            <% } %> 
          </tbody>
        </table>       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Roof Edits - Click to Expand
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Edit</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < material_edits.length; i ++) { %>
              <% if (material_edits[i].type === "roof") { %>
                <tr class='clickable-row'>
                  <th scope="row"><img src="<%= material_edits[i].image %>" class="img-fluid" alt="<%= material_edits[i].name %>"></th>
                  <td><%= material_edits[i].name %></td>
                </tr>     
              <% } %>
            <% } %> 
          </tbody>
        </table>       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Stairs Edits - Click to Expand
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Edit</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < material_edits.length; i ++) { %>
              <% if (material_edits[i].type === "stairs") { %>
                <tr class='clickable-row'>
                  <th scope="row"><img src="<%= material_edits[i].image %>" class="img-fluid" alt="<%= material_edits[i].name %>"></th>
                  <td><%= material_edits[i].name %></td>
                </tr>     
              <% } %>
            <% } %> 
          </tbody>
        </table>       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Wall Edits - Click to Expand
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Edit</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < material_edits.length; i ++) { %>
              <% if (material_edits[i].type === "wall") { %>
                <tr class='clickable-row'>
                  <th scope="row"><img src="<%= material_edits[i].image %>" class="img-fluid" alt="<%= material_edits[i].name %>"></th>
                  <td><%= material_edits[i].name %></td>
                </tr>     
              <% } %>
            <% } %> 
          </tbody>
        </table>       
      </div>
    </div>
  </div>
</div>
</div>

<% include ../partials/footer %>


